*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
  }
/*color*/
:root {
    --main-color: #7E4CEA;
    --main-color-dark: #4f3a99;    
    --C_clara:#a68ee8;
    --V_pricipal:#88fc84;
    --V_clara:#a9ffa9;
    --V_Clara_plus:#d9ffa9;
    --G_texo:#868686;    
    --color-gray: #969696;
    --G_borde:#c5c5c5;
    --G_fondo:#b1b1b1;
}

/*background*/
.bg_main_color {
    background-color: var(--main-color);
}
.img_background_format{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

/*text*/
.font-black {
    font-weight: 900;
}
.txt_main_color{
    color: var(--main-color);
}
.txt_main_color-dark{
    color: var(--main-color-dark);
}

/*buttons*/
.btn_main_color{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;    
    padding: 10px 20px 10px 20px;
    transition: 0.5s;
}
.btn_main_color:hover{
    background-color: var(--main-color-dark);
}

/*Menu Bottom*/
.active_menu_bottom{
    color: var(--main-color) !important;
}

/*Scroll*/
.container_scroll::-webkit-scrollbar{
    background: #a68ee88e;
    width: 7px;

}
.container_scroll::-webkit-scrollbar-thumb{
    background: var(--C_clara);

}