*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;  
  }
/*color*/
:root {
    --main-color: #7E4CEA;
    --main-color-dark: #4f3a99;    
    --C_clara:#a68ee8;
    --V_pricipal:#88fc84;
    --V_clara:#a9ffa9;
    --V_Clara_plus:#d9ffa9;
    --G_texo:#868686;    
    --color-gray: #969696;
    --G_borde:#c5c5c5;
    --G_fondo:#b1b1b1;
}

/*background*/
.bg_main_color {
    background-color: var(--main-color);
}
.img_background_format{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

/*text*/
.font-black {
    font-weight: 900;
}
.txt_main_color{
    color: var(--main-color);
}
.txt_main_color-dark{
    color: var(--main-color-dark);
}

/*buttons*/
.btn_main_color{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;    
    padding: 10px 20px 10px 20px;
    transition: 0.5s;
}
.btn_main_color:hover{
    background-color: var(--main-color-dark);
}

/*Menu Bottom*/
.active_menu_bottom{
    color: var(--main-color) !important;
}

/*Scroll*/
.container_scroll::-webkit-scrollbar{
    background: #a68ee88e;
    width: 7px;

}
.container_scroll::-webkit-scrollbar-thumb{
    background: var(--C_clara);

}
/*Botones personalizados*/
.btn_per_one{
    background: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.btn_per_two{
    background: var(--V_pricipal);
    color: var(--main-color-dark);
    font-weight: bold;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}

/*BREAKPOINTS*/    
@media (min-width: 768px) {

        .container-screm-up-10{
            width: 10% !important;
        }
        .container-screm-up-20{
            width: 20% !important;
        }
        .container-screm-up-30{
            width: 30% !important;
        }
        .container-screm-up-40{
            width: 40% !important;
        }
        .container-screm-up-50{
            width: 50% !important;
        }
        .container-screm-up-58{
            width: 58% !important;
        }
        .container-screm-up-60{
            width: 60% !important;
        }
        .container-screm-up-70{
            width: 70% !important;
        }
        .container-screm-up-80{
            width: 80% !important;
        }
        .container-screm-up-90{
            width: 90% !important;
        }
        .container-screm-up-100{
            width: 100% !important;
        }
        .container-direction-row{
            flex-direction: row !important;
        }
        
        .grid-gallery{
            grid-template-columns: 1fr 1fr 1fr 1fr !important; 
        }
        .purchases-data-phone{
            display: none !important;
        }
        .purchases-data-desktop{
            display: flex !important;            
        }
    }

    .frm-column-data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 11px;
    }

    @media (max-width: 768px) {
        .btn-purache-detail-container{
            flex-direction: column;
        }
        .frm-column-data{
            flex-direction: column;
        }
        .container-btn-userdata{
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
        }
        .frm-column-shop{
            flex-wrap: wrap;
        }
        .purchases-data-phone{
            display: flex !important;
        }
        .purchases-data-desktop{
            display: none !important;            
        }
    }
    @media (max-width: 543px) {
        .card-membership{
            justify-content: center !important;
        }           
    }
    .card-membership{
        justify-content: flex-start;
    }  

.shows_img_gallery{
    height: 400px;
    max-width: 349px;
    background: rgba(0, 0, 0, 0.616);
    background-image: url('https://cdn-imgix.headout.com/media/images/5ace16a131b03d1932c615686368ea65-1134-new-york-mj-live---tribute-concert-08.jpg');
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}


.grid-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 480px;
}


.custom-tooltip {
    --bs-tooltip-bg: var(--main-color-dark);
    --bs-tooltip-color: var(--bs-white);
  }


  .btn-salitre {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-bg: var(--main-color);
    --bs-btn-border-color: var(--main-color);
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: var(--main-color);
    --bs-btn-hover-border-color:  var(--main-color);
    --bs-btn-focus-shadow-rgb:var(--main-color);
    --bs-btn-active-color: white;
    --bs-btn-active-bg:  var(--main-color);
    --bs-btn-active-border-color:  var(--main-color);
  }
  .btn-salitre2 {
    --bs-btn-font-weight: 600;
    --bs-btn-color:  var(--main-color-dark);
    --bs-btn-bg: var(--V_pricipal);
    --bs-btn-border-color: var(--V_pricipal);
    --bs-btn-hover-color:  var(--main-color-dark);
    --bs-btn-hover-bg: var(--V_pricipal);
    --bs-btn-hover-border-color:  var(--V_pricipal);
    --bs-btn-focus-shadow-rgb:var(--V_pricipalr);
    --bs-btn-active-color:  var(--main-color-dark);
    --bs-btn-active-bg:  var(--V_pricipal);
    --bs-btn-active-border-color:  var(--V_pricipal);
  }
  .btn-salitre3 {
    --bs-btn-font-weight: 600;
    --bs-btn-color:  white;
    --bs-btn-bg: black;
    --bs-btn-border-color: black;
    --bs-btn-hover-color:  white;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-border-color:  black;
    --bs-btn-focus-shadow-rgb:black;
    --bs-btn-active-color:  white;
    --bs-btn-active-bg:  black;
    --bs-btn-active-border-color:  black;
  }

.btn-shop-noti{
    background-color: var(--V_pricipal);
    color: var(--main-color-dark);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
}
.btn-cotainer-noti{
    bottom: -25px;
    gap: calc(1px + 8vw);
}
@media (max-width: 448px) {
    .btn-shop-noti{
        font-size: 12px;
    }
    .btn-cotainer-noti{
        bottom: -20px;
        
    }       
}
@media (max-width: 358px) {
    .btn-shop-noti{
        font-size: 10px;
    }
      
}
.data-container-noti > div > div{
    font-size: 14px;
}
@media (max-width: 417px) {
    .data-container-noti > div > div{
        font-size: 12px;
    }
}
@media (max-width: 440px) {
    .container-state-shop{
        gap: 0 !important;
    }
    .container-state-shop > div{
        padding-right: 10px !important;
        gap: 5px !important;
    }    
}
@media (max-width: 1002px) {
   
    .container-membership-data{
        flex-direction: column;
    }
   
}
@media (max-width: 433px) {
   
    .data-member-two{
        font-size: 10px;
        align-items: center !important;
    }
    .data-member-user{
        font-size: 10px;
    }
    
   
}
.btn-shop-noti:hover{
    background-color: var(--V_Clara_plus);
}